.customize-control-title .dashicons-editor-help {
    position: relative;
    top: 0.1em;
}

#customize-header-actions .spinner {
    margin-left: 4px;
}

/* slider control */
.customize-control-slider input[type=range] {
	-webkit-appearance: none;
	-webkit-transition: background .3s;
	transition: background .3s;
	background-color: rgba(0,0,0,.1);
	height: 5px;
	width: -webkit-calc(100% - 74px);
	width: calc(100% - 74px);
	padding: 0;
}
.customize-control-slider input[type=range]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}
.customize-control-slider input[type=range]:hover {
	background-color: rgba(0,0,0,.25);
}
.customize-control-slider input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: none;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-ms-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 0;
	background-color: #3498D9;
}
.customize-control-slider input[type=range]::-moz-range-track {
	border: inherit;
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-fill-lower,
.customize-control-slider input[type=range]::-ms-fill-upper {
	background: transparent;
}
.customize-control-slider input[type=range]::-ms-tooltip {
	display: none;
}
.customize-control-slider .ast-range-value {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 1px;
}
.customize-control-slider input#ast-range-value-input {
	width: 42px;
    height: 23px;
    font-size: 13px;
}
.customize-control-slider .ast-slider-reset {
	color: rgba(0,0,0,.2);
	float: right;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
}
.customize-control-slider .ast-slider-reset span {
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}
.customize-control-slider .ast-slider-reset span:hover {
	color: red;
}

.control-section.ast-hide {
	display: none !important;
}

/**
 * Typography Control Style
 */
.customize-pane-child > li[id*="-font-weight"],
.customize-pane-child > li[id*="-text-transform"],
.customize-pane-child > li[id*="-font-size"],
.customize-pane-child > li[id*="-line-height"] {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    clear: none;
}

.customize-pane-child > li[id*="-font-weight"],
.customize-pane-child > li[id*="-font-size"] {
    padding-right: 5px;
}

.customize-pane-child > li[id*="-text-transform"],
.customize-pane-child > li[id*="-line-height"] {
    padding-left: 5px;
}

.customize-pane-child > li[id$="-content-layout"] > label,
.customize-pane-child > li[id$="-sidebar-layout"] > label {
    display: flex;
}

.customize-pane-child > li[id$="-content-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-sidebar-layout"] > label .customize-control-title,
.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    flex: 1;
}

.customize-pane-child > li[id$="-content-layout"] > label select,
.customize-pane-child > li[id$="-sidebar-layout"] > label select {
    margin-left: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImN1c3RvbWl6ZXItY29udHJvbHMuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLG9CQUFvQjtBQUNwQjtDQUNDLHlCQUF5QjtDQUN6QixtQ0FBbUM7Q0FFbkMsMkJBQTJCO0NBQzNCLGlDQUFpQztDQUNqQyxZQUFZO0NBQ1osaUNBQXlCO0NBQXpCLHlCQUF5QjtDQUN6QixXQUFXO0NBQ1g7QUFDRDtDQUNDLHlCQUFpQjtDQUFqQixpQkFBaUI7Q0FDakIsY0FBYztDQUNkO0FBQ0Q7Q0FDQyxrQ0FBa0M7Q0FDbEM7QUFDRDtDQUNDLHlCQUF5QjtDQUN6QixZQUFZO0NBQ1osYUFBYTtDQUNiLG1CQUFtQjtDQUNuQiwyQkFBMkI7Q0FDM0IsMEJBQTBCO0NBQzFCO0FBQ0Q7Q0FDQyx5QkFBeUI7Q0FDekIsWUFBWTtDQUNaLGFBQWE7Q0FDYixhQUFhO0NBQ2IsMkJBQW1CO0NBQW5CLG1CQUFtQjtDQUNuQiwwQkFBMEI7Q0FDMUI7QUFDRDtDQUNDLFlBQVk7Q0FDWixhQUFhO0NBQ2IsYUFBYTtDQUNiLG1CQUFtQjtDQUNuQiwwQkFBMEI7Q0FDMUI7QUFDRDtDQUNDLFlBQVk7Q0FDWixhQUFhO0NBQ2IsbUJBQW1CO0NBQ25CLFVBQVU7Q0FDViwwQkFBMEI7Q0FDMUI7QUFDRDtDQUNDLGdCQUFnQjtDQUNoQix3QkFBd0I7Q0FDeEI7QUFDRDtDQUNDLGdCQUFnQjtDQUNoQixtQkFBbUI7Q0FDbkIsd0JBQXdCO0NBQ3hCO0FBQ0Q7O0NBRUMsd0JBQXdCO0NBQ3hCO0FBQ0Q7Q0FDQyxjQUFjO0NBQ2Q7QUFDRDtJQUNJLHNCQUFzQjtJQUN0QixlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLFNBQVM7Q0FDWjtBQUNEO0NBQ0MsWUFBWTtJQUNULGFBQWE7SUFDYixnQkFBZ0I7Q0FDbkI7QUFDRDtDQUNDLHNCQUFzQjtDQUN0QixhQUFhO0NBQ2Isc0NBQXNDO0NBSXRDLDhCQUE4QjtDQUM5QjtBQUNEO0NBQ0MsZ0JBQWdCO0NBQ2hCLGtCQUFrQjtDQUNsQixnQkFBZ0I7Q0FDaEI7QUFDRDtDQUNDLFdBQVc7Q0FDWCIsImZpbGUiOiJjdXN0b21pemVyLWNvbnRyb2xzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIHNsaWRlciBjb250cm9sICovXHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgaW5wdXRbdHlwZT1yYW5nZV0ge1xyXG5cdC13ZWJraXQtYXBwZWFyYW5jZTogbm9uZTtcclxuXHQtd2Via2l0LXRyYW5zaXRpb246IGJhY2tncm91bmQgLjNzO1xyXG5cdC1tb3otdHJhbnNpdGlvbjogYmFja2dyb3VuZCAuM3M7XHJcblx0dHJhbnNpdGlvbjogYmFja2dyb3VuZCAuM3M7XHJcblx0YmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLDAsMCwuMSk7XHJcblx0aGVpZ2h0OiA1cHg7XHJcblx0d2lkdGg6IGNhbGMoMTAwJSAtIDc0cHgpO1xyXG5cdHBhZGRpbmc6IDA7XHJcbn1cclxuLmN1c3RvbWl6ZS1jb250cm9sLXNsaWRlciBpbnB1dFt0eXBlPXJhbmdlXTpmb2N1cyB7XHJcblx0Ym94LXNoYWRvdzogbm9uZTtcclxuXHRvdXRsaW5lOiBub25lO1xyXG59XHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgaW5wdXRbdHlwZT1yYW5nZV06aG92ZXIge1xyXG5cdGJhY2tncm91bmQtY29sb3I6IHJnYmEoMCwwLDAsLjI1KTtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIGlucHV0W3R5cGU9cmFuZ2VdOjotd2Via2l0LXNsaWRlci10aHVtYiB7XHJcblx0LXdlYmtpdC1hcHBlYXJhbmNlOiBub25lO1xyXG5cdHdpZHRoOiAxNXB4O1xyXG5cdGhlaWdodDogMTVweDtcclxuXHRib3JkZXItcmFkaXVzOiA1MCU7XHJcblx0LXdlYmtpdC1ib3JkZXItcmFkaXVzOiA1MCU7XHJcblx0YmFja2dyb3VuZC1jb2xvcjogIzM0OThEOTtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIGlucHV0W3R5cGU9cmFuZ2VdOjotd2Via2l0LXNsaWRlci10aHVtYiB7XHJcblx0LXdlYmtpdC1hcHBlYXJhbmNlOiBub25lO1xyXG5cdHdpZHRoOiAxNXB4O1xyXG5cdGhlaWdodDogMTVweDtcclxuXHRib3JkZXI6IG5vbmU7XHJcblx0Ym9yZGVyLXJhZGl1czogNTAlO1xyXG5cdGJhY2tncm91bmQtY29sb3I6ICMzNDk4RDk7XHJcbn1cclxuLmN1c3RvbWl6ZS1jb250cm9sLXNsaWRlciBpbnB1dFt0eXBlPXJhbmdlXTo6LW1vei1yYW5nZS10aHVtYiB7XHJcblx0d2lkdGg6IDE1cHg7XHJcblx0aGVpZ2h0OiAxNXB4O1xyXG5cdGJvcmRlcjogbm9uZTtcclxuXHRib3JkZXItcmFkaXVzOiA1MCU7XHJcblx0YmFja2dyb3VuZC1jb2xvcjogIzM0OThEOTtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIGlucHV0W3R5cGU9cmFuZ2VdOjotbXMtdGh1bWIge1xyXG5cdHdpZHRoOiAxNXB4O1xyXG5cdGhlaWdodDogMTVweDtcclxuXHRib3JkZXItcmFkaXVzOiA1MCU7XHJcblx0Ym9yZGVyOiAwO1xyXG5cdGJhY2tncm91bmQtY29sb3I6ICMzNDk4RDk7XHJcbn1cclxuLmN1c3RvbWl6ZS1jb250cm9sLXNsaWRlciBpbnB1dFt0eXBlPXJhbmdlXTo6LW1vei1yYW5nZS10cmFjayB7XHJcblx0Ym9yZGVyOiBpbmhlcml0O1xyXG5cdGJhY2tncm91bmQ6IHRyYW5zcGFyZW50O1xyXG59XHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgaW5wdXRbdHlwZT1yYW5nZV06Oi1tcy10cmFjayB7XHJcblx0Ym9yZGVyOiBpbmhlcml0O1xyXG5cdGNvbG9yOiB0cmFuc3BhcmVudDtcclxuXHRiYWNrZ3JvdW5kOiB0cmFuc3BhcmVudDtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIGlucHV0W3R5cGU9cmFuZ2VdOjotbXMtZmlsbC1sb3dlcixcclxuLmN1c3RvbWl6ZS1jb250cm9sLXNsaWRlciBpbnB1dFt0eXBlPXJhbmdlXTo6LW1zLWZpbGwtdXBwZXIge1xyXG5cdGJhY2tncm91bmQ6IHRyYW5zcGFyZW50O1xyXG59XHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgaW5wdXRbdHlwZT1yYW5nZV06Oi1tcy10b29sdGlwIHtcclxuXHRkaXNwbGF5OiBub25lO1xyXG59XHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgLm5leHQtcmFuZ2UtdmFsdWUge1xyXG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgcGFkZGluZzogMCA1cHg7XHJcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICB0b3A6IDFweDtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIGlucHV0I25leHQtcmFuZ2UtdmFsdWUtaW5wdXQge1xyXG5cdHdpZHRoOiA0MnB4O1xyXG4gICAgaGVpZ2h0OiAyM3B4O1xyXG4gICAgZm9udC1zaXplOiAxM3B4O1xyXG59XHJcbi5jdXN0b21pemUtY29udHJvbC1zbGlkZXIgLm5leHQtc2xpZGVyLXJlc2V0IHtcclxuXHRjb2xvcjogcmdiYSgwLDAsMCwuMik7XHJcblx0ZmxvYXQ6IHJpZ2h0O1xyXG5cdC13ZWJraXQtdHJhbnNpdGlvbjogY29sb3IgLjVzIGVhc2UtaW47XHJcblx0LW1vei10cmFuc2l0aW9uOiBjb2xvciAuNXMgZWFzZS1pbjtcclxuXHQtbXMtdHJhbnNpdGlvbjogY29sb3IgLjVzIGVhc2UtaW47XHJcblx0LW8tdHJhbnNpdGlvbjogY29sb3IgLjVzIGVhc2UtaW47XHJcblx0dHJhbnNpdGlvbjogY29sb3IgLjVzIGVhc2UtaW47XHJcbn1cclxuLmN1c3RvbWl6ZS1jb250cm9sLXNsaWRlciAubmV4dC1zbGlkZXItcmVzZXQgc3BhbiB7XHJcblx0Zm9udC1zaXplOiAxNnB4O1xyXG5cdGxpbmUtaGVpZ2h0OiAyMnB4O1xyXG5cdGN1cnNvcjogcG9pbnRlcjtcclxufVxyXG4uY3VzdG9taXplLWNvbnRyb2wtc2xpZGVyIC5uZXh0LXNsaWRlci1yZXNldCBzcGFuOmhvdmVyIHtcclxuXHRjb2xvcjogcmVkO1xyXG59XHJcbiJdfQ== */