/*
 * Astra Theme compatibility Site Origin Builder
 */

.siteorigin-panels {
	
	// Remove article margin bottom 

	&.ast-single-post {
		.hentry {
			margin: 0;
		}
	}
	
	// Attach first row to header 
	
	&.ast-no-sidebar {
		#primary,
		#secondary {
		 	padding-top: 0;
		 	padding-bottom: 0;
		}
	}

	:not(.ast-single-post) .entry-content, 
	.ast-single-post .entry-content {
	    margin-top: 0;
	    margin-bottom: 0;
	}

	// Reduced page builder z-index for submenu visibility

	.panel-row-style {
	    z-index: 0;
	    position: relative;
	}
}