/* 2 - Small Footer */
@import "small-footer-layouts";
@import "footer-sml-layout-1.scss";
@import "footer-sml-layout-2.scss";

.site-footer {
	background-color: $footer-background-color;
	color: $footer-text-color;

	.widget-title {
		color: $footer-link-color;
	}

	a {
		color: $footer-link-color;
		&:hover,
		&:focus {
	    	color: $footer-link-hover-color;
	    }
	}

	li > a {
		line-height: 2;
	}
	ul {
	    margin: 0;
	    list-style-type: none;
	}

	.nav-menu li {
	    display: inline-block;
	}
}
