/**
 * 	Header Common
 *
 * Contents
 * 1 - Common
 * 4 - Main Header Container
 * 6 - all and (max-width: $mx-break-point)
 * 7 - Auto Margin
*/

/**
 * 1 - Common
 */
.site-header {
    z-index: 10;
    position: relative;   
}

/**
 * 4 - Main Header Container
 */
.main-header-container {
    position: relative;
}

.main-header-bar-wrap {
    position: relative;

    .nav-fallback-text {
        float: right;
    }
}

.main-header-bar {
    background-color: #fff;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
}

/**
 * 6 - all and (max-width: $mx-break-point)
 */
.ast-header-break-point {

    .main-header-bar {
        border: 0;
    }

    .nav-fallback-text {
        float: none;
    }
    .site-header {
        border-bottom-color: #eaeaea;
        border-bottom-style: solid;
    }
}

/**
 * 7 - Auto Margin
 */
.main-header-bar {
    margin-left: auto;
    margin-right: auto;
    @include ast-transition();
}

.site-logo-img img {
    @include ast-transition();
}
