// Typography

/*----------  Font Size  ----------*/
$font-size-root:     		14px !default; // Applied to <html> element only
$font-size-base:     		1 !default;
$font-size-h1:       		48px !default;
$font-size-h2:       		42px !default;
$font-size-h3:       		30px !default;
$font-size-h4:       		20px !default;
$font-size-h5:       		18px !default;
$font-size-h6:       		15px !default;

/*----------  Line Height  ----------*/

$line-height:				1.85714285714286 !default;
$line-height-h1:			1.2 !default;
$line-height-h2:    		1.3 !default;
$line-height-h3:    		1.4 !default;
$line-height-h4:    		1.5 !default;
$line-height-h5:    		1.6 !default;
$line-height-h6:    		1.7 !default;
