/**
 * 	Navigations
 *
 * @import
 * 1 - Primary Menus
 * 2 - Secondary Menus
 * 3 - Header Top Menus
 * 
 * Contents
 * 1 - Toggle Button
 * 
*/

/**
 * @import
 */

/* 1 - Primary Menus */
@import "primary-menu";

/**
 * Contents
 */

/* Toggle Button */
.ast-button-wrap {
    display: inline-block;
    
    button {
		box-shadow: none;
		border: none;
	}

	.menu-toggle {
		padding: 0;
		width: 2.2em;
		height: 2em;
		font-size: 1.5em;
		font-weight: normal;
		border-radius: 2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	    border-radius: 2px;
	    vertical-align: middle;
	    &.main-header-menu-toggle{
	    	width: 4em;
	    	.mobile-menu{
	    		font-size: 15px;
	    		font-size: 1rem;
	    		font-weight: 600;
	    		display: inline-block;
	    	}
	    }
	    .menu-toggle-icon {
	    	font-style: normal;
	    	display: inline-block;
	    	&:before {
		    	content: "\e5d2";
				font-family: 'Astra';
				text-decoration: inherit;
				vertical-align: middle;
			}
		}
		&.toggled{
			.menu-toggle-icon {
		    	&:before {
			    	content: "\e5cd";
				}
			}
		}
	}
}

.ast-mobile-menu-buttons {
	display: none;
	flex: 1;
}

.main-header-bar-navigation {
	flex: 1;
}

/* Responsive Screen */
.ast-header-break-point {

	.user-select {
		clear: both;
	}

	.ast-mobile-menu-buttons {
		display: block;
	}

	.main-header-bar-navigation {
		flex: auto;
	}
}

/**
 * Post/Page Navigation
 */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous,
	.nav-next {
		width: 50%;
		display: inline-block;
	}
	
	.nav-next {
		text-align: right;
	}
}
