/*----------  Media Query min-width Structure   ----------*/

$col-xl: 1200px;
$col-lg: 992px;
$col-md: 768px;
$col-sm: 544px;
$col-xs: 420px;

/*----------  Media Query max-width Structure   ----------*/

$mx-col-xl: 1199px;
$mx-col-lg: 991px;
$mx-col-md: 767px;
$mx-col-sm: 543px;
$mx-col-xs: 419px;

/*----------  Break-point min-width Structure   ----------*/
$break-point: 920px;

/*----------  Break-point max-width Structure   ----------*/
$mx-break-point: 919px;